<h1>Event Scanner</h1>

<div id="reader" style="width:300px;"></div>

<p id="result"></p>

<script src="https://unpkg.com/html5-qrcode"></script>

<script>
  function onScanSuccess(decodedText) {
    if (!decodedText.startsWith("TICKET:")) {
      document.getElementById("result").innerText =
        "Invalid QR format"
      return
    }

    const ticketId = decodedText.split("TICKET:")[1]

    fetch("/creator/scan", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ ticketId })
    })
      .then(res => res.json())
      .then(data => {
        if (data.success) {
            html5QrCode.stop()
        }

        document.getElementById("result").innerText =
          data.message || "Error"
      })
  }

  const html5QrCode = new Html5Qrcode("reader")

  Html5Qrcode.getCameras().then(devices => {
    if (devices && devices.length) {
      html5QrCode.start(
        devices[0].id,
        { fps: 10, qrbox: 250 },
        onScanSuccess
      )
    }
  })
</script>