<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid nav-container">
        <a class="logo navbar-brand" href="/">
            <i class="bi bi-calendar-event"></i> Eventful
        </a>
        <button id="themeToggle" class="theme-toggle">
            🌙
        </button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="background: var(--accent);">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="nav-links navbar-nav">
               <% if (!user) { %>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/events">Events</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link btn-primary ms-lg-3" href="/register">Sign Up</a>
                <% } %>
                
                <% if (user && user.role === "creator") { %>
                    <!-- Authenticated User Menu -->
                     <!-- <a class="nav-link" href="/dashboard/creator">Dashboard</a> -->
                    <a class="nav-link" href="/dashboard/creator">Return To Dashboard</a>
                    <% } %>
                    
                <% if (user && user.role === "eventee") { %>
                    <a class="nav-link" href="/dashboard/eventee">Return To Dashboard</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

<script>
  const toggleBtn = document.getElementById("themeToggle");
  const body = document.body;

  // Load saved theme
  if (localStorage.getItem("theme") === "dark") {
    body.classList.add("dark-mode");
    toggleBtn.textContent = "☀️";
  }

  toggleBtn.addEventListener("click", () => {
    body.classList.toggle("dark-mode");

    if (body.classList.contains("dark-mode")) {
      localStorage.setItem("theme", "dark");
      toggleBtn.textContent = "☀️";
    } else {
      localStorage.setItem("theme", "light");
      toggleBtn.textContent = "🌙";
    }
  });
</script>















<!-- <nav class="navbar">
  <div class="nav-container">
    <a href="/" class="logo">Eventful</a>

    <div class="nav-links">
      <a href="/events">Events</a>

      <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register" class="btn-primary">Register</a>
      <% } else { %>
        <a href="/tickets">My Tickets</a>
        <form method="POST" action="/logout" style="display:inline;">
            <button type="submit" class="logout-btn">
                Logout
            </button>
        </form>

      <% } %>
    </div>
  </div>
</nav> -->
