<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse min-vh-100 custom-sidebar">

  <div class="position-sticky pt-4 px-3 text-white">

    <h5 class="mb-4">Welcome <%= user.name %></h5>

    <ul class="nav flex-column">


      <!-- <pre><%= JSON.stringify(user) %></pre> -->


      <% if (user.role === "creator") { %>

              <li class="nav-item mb-2">
        <a class="nav-link text-white" href="/dashboard/creator">
          Dashboard
        </a>
      </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/events">
            All Events
          </a>
        </li>


        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#createEventModal">
            + Create Event
          </a>  
        </li>



        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/analytics">
            Analytics
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/reminders">
            Reminders
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/scanner">
            Scan Tickets
          </a>
        </li>

      <% } %>

      <% if (user.role === "eventee") { %>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/dashboard/eventee">
            Dashboard
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/dashboard">
            Browse Events
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-white" href="/tickets">
            My Tickets
          </a>
        </li>


      <% } %>

      <li class="nav-item mt-4">
        <form method="POST" action="/logout">
          <button class="btn btn-danger w-100">
            Logout
          </button>
        </form>
      </li>

    </ul>

  </div>
</nav>
